# TUTORIAL 1

In [2]:
#!pip install pyspark

In [3]:
import pyspark

#### Do remember that whenever you want to work with PySpark, we need to start the spark session. So let's do it

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_spk=spark.read.csv('bhp.csv')

In [9]:
df_spk.show()

+--------------------+---------+----------+----+-----+---+--------------+
|                 _c0|      _c1|       _c2| _c3|  _c4|_c5|           _c6|
+--------------------+---------+----------+----+-----+---+--------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|
|Electronic City P...|    2 BHK|    1056.0| 2.0|39.07|  2|          3699|
|    Chikka Tirupathi|4 Bedroom|    2600.0| 5.0|120.0|  4|          4615|
|         Uttarahalli|    3 BHK|    1440.0| 2.0| 62.0|  3|          4305|
|  Lingadheeranahalli|    3 BHK|    1521.0| 3.0| 95.0|  3|          6245|
|            Kothanur|    2 BHK|    1200.0| 2.0| 51.0|  2|          4250|
|          Whitefield|    2 BHK|    1170.0| 2.0| 38.0|  2|          3247|
|    Old Airport Road|    4 BHK|    2732.0| 4.0|204.0|  4|          7467|
|        Rajaji Nagar|    4 BHK|    3300.0| 4.0|600.0|  4|         18181|
|        Marathahalli|    3 BHK|    1310.0| 3.0|63.25|  3|          4828|
|               other|6 Bedroom|    1020.0| 6.0|370.0|  6|         36274|
|          Whitefield|    3 BHK|    1800.0| 2.0| 70.0|  3|          3888|
|          Whitefield|4 Bedroom|    2785.0| 5.0|295.0|  4|         10592|
|  7th Phase JP Nagar|    2 BHK|    1000.0| 2.0| 38.0|  2|          3800|
|           Gottigere|    2 BHK|    1100.0| 2.0| 40.0|  2|          3636|
|            Sarjapur|3 Bedroom|    2250.0| 3.0|148.0|  3|          6577|
|         Mysore Road|    2 BHK|    1175.0| 2.0| 73.5|  2|          6255|
|       Bisuvanahalli|    3 BHK|    1180.0| 3.0| 48.0|  3|          4067|
|Raja Rajeshwari N...|    3 BHK|    1540.0| 3.0| 60.0|  3|          3896|
|               other|    3 BHK|    2770.0| 4.0|290.0|  3|         10469|
+--------------------+---------+----------+----+-----+---+--------------+
only showing top 20 rows

### Now let's make the first row as our headers:

In [12]:
df_spk=spark.read.option('header','true').csv('bhp.csv')

In [13]:
df_spk.show()

+--------------------+---------+----------+----+-----+---+--------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+--------------------+---------+----------+----+-----+---+--------------+
|Electronic City P...|    2 BHK|    1056.0| 2.0|39.07|  2|          3699|
|    Chikka Tirupathi|4 Bedroom|    2600.0| 5.0|120.0|  4|          4615|
|         Uttarahalli|    3 BHK|    1440.0| 2.0| 62.0|  3|          4305|
|  Lingadheeranahalli|    3 BHK|    1521.0| 3.0| 95.0|  3|          6245|
|            Kothanur|    2 BHK|    1200.0| 2.0| 51.0|  2|          4250|
|          Whitefield|    2 BHK|    1170.0| 2.0| 38.0|  2|          3247|
|    Old Airport Road|    4 BHK|    2732.0| 4.0|204.0|  4|          7467|
|        Rajaji Nagar|    4 BHK|    3300.0| 4.0|600.0|  4|         18181|
|        Marathahalli|    3 BHK|    1310.0| 3.0|63.25|  3|          4828|
|               other|6 Bedroom|    1020.0| 6.0|370.0|  6|         36274|
|          Whitefield|    3 BHK|    1800.0| 2.0| 70.0|  3|          3888|
|          Whitefield|4 Bedroom|    2785.0| 5.0|295.0|  4|         10592|
|  7th Phase JP Nagar|    2 BHK|    1000.0| 2.0| 38.0|  2|          3800|
|           Gottigere|    2 BHK|    1100.0| 2.0| 40.0|  2|          3636|
|            Sarjapur|3 Bedroom|    2250.0| 3.0|148.0|  3|          6577|
|         Mysore Road|    2 BHK|    1175.0| 2.0| 73.5|  2|          6255|
|       Bisuvanahalli|    3 BHK|    1180.0| 3.0| 48.0|  3|          4067|
|Raja Rajeshwari N...|    3 BHK|    1540.0| 3.0| 60.0|  3|          3896|
|               other|    3 BHK|    2770.0| 4.0|290.0|  3|         10469|
|               other|    2 BHK|    1100.0| 2.0| 48.0|  2|          4363|
+--------------------+---------+----------+----+-----+---+--------------+
only showing top 20 rows

In [14]:
type(df_spk)

pyspark.sql.dataframe.DataFrame

In [16]:
df_spk.head(3)

[Row(location='Electronic City Phase II', size='2 BHK', total_sqft='1056.0', bath='2.0', price='39.07', bhk='2', price_per_sqft='3699'),
 Row(location='Chikka Tirupathi', size='4 Bedroom', total_sqft='2600.0', bath='5.0', price='120.0', bhk='4', price_per_sqft='4615'),
 Row(location='Uttarahalli', size='3 BHK', total_sqft='1440.0', bath='2.0', price='62.0', bhk='3', price_per_sqft='4305')]

In [17]:
df_spk.printSchema()

root
 |-- location: string (nullable = true)
 |-- size: string (nullable = true)
 |-- total_sqft: string (nullable = true)
 |-- bath: string (nullable = true)
 |-- price: string (nullable = true)
 |-- bhk: string (nullable = true)
 |-- price_per_sqft: string (nullable = true)